name: Deploy Hailoka FE (staging)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (optional, hanya supaya job punya source)
        uses: actions/checkout@v4

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e

            cd ~/apps/hailoka-frontend-github

            git pull origin main

            echo "-> Build & restart container"
            docker compose down
            docker compose up -d --build

            echo "-> Optional: remove dangling images"
            docker image prune -f
